* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--rojo: #ba181b;
	--azul: #00b4d8;
	--azul-hover: #48cae4;
	--rojo-hover: #e5383b;
	--verde: #09a129;
	--azul-noche: #081a8f;
}

body {
	font-family: Poppins;
	max-width: 1200px;
	margin: 40px auto;
	display: flex;
	justify-content: center;
	background-color: var(--azul);
}

.card-todo {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	padding: 25px;
	border-radius: 20px;
	width: 1600px;
	background-color: var(--azul-noche);
}

h1 {
	text-align: center;
	color: var(--azul);
}

.counter-todos {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

.counter-todos h3 {
	font-weight: 500;
	color: var(--azul);
}

.counter-todos span {
	color: #f29559;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

form {
	display: flex;
    flex-direction: column; 
    gap: 15px; 
    align-items: center;
}

.input-row {
    display: flex;
    gap: 10px; /* Espacio entre los inputs de la misma fila */
    justify-content: space-between;
}

textarea {
    resize: none; 
    min-height: 80px; 
    width: 500px; 
    padding: 10px; 
    font-size: 16px; 
    line-height: 1.5; 
}

.input-add, 
input[type="date"] {
	flex: 1; 
	min-width: 150px; 
}

ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr); 
	gap: 20px; 
	margin-top: 30px;
	padding: 0; 
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center; 
	gap: 5px; 
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
	background-color: var(--azul);
	overflow: hidden;
	position: relative;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	flex: 1;
	align-items: center;
	color: #333; 
}

ul li .container-done {
	align-self: flex-end; 
}

ul li .btn-edit,
ul li .btn-delete {
	align-self: flex-end; 
	margin: 0px; 
}

ul li .btn-delete {
	margin-left: 10px;
}

ul li form {
	display: flex;
	flex: 1;
	justify-content: space-between;
}

.input-update {
	border: none;
	font-weight: 500;
	font-family: inherit;
	font-size: 18px;
	color: var(--azul-noche);
	width: 100%;
	outline: none;
	background-color: transparent;
}

.container-done {
	position: absolute;
    bottom: 10px; 
    left: 10px;
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	border: 2px solid var(--verde);
	cursor: pointer;
}

.container-done.active {
	background-color: var(--verde);
}

.text-decoration-dashed {
	text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

.btn-delete {
	background-color: var(--rojo);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-delete:hover {
	background-color: var(--rojo-hover);
}

.btn-edit {
	background-color: var(--azul-noche);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-edit:hover {
	background-color: var(--azul-hover);
}

.add-todo h3 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
	color: var(--azul);
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: #555;
}

.btn-add {
	align-self: center;
	border: none;
	background-color: var(--azul);
	color: #fff;
	padding: 5px 40px;
	border-radius: 20px;
	font-family: inherit;
	cursor: pointer;
	font-size: 27px;
}

.btn-add:hover {
	background-color: var(--azul-hover);
}

.editing {
    text-decoration: underline;
}

.no-todos {
	text-align: center;
	color: var(--azul);
	font-size: 24px;
	margin-top: 40px;
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
    background-color: #d3d3d3; 
}

textarea.input-update {
	width: 200px;
	height: 80px;
	overflow: auto;
	resize: none;
}
